﻿/* reset css begin */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 12px;
	vertical-align: baseline;
	background: transparent;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
	content: '';
}
:focus {
	outline: 0;
}
ins {
	text-decoration: none;
}
del {
	text-decoration: line-through;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*reset css end*/
#container {
	width: 960px;
	position: relative;
	padding: 0;
	min-height: 100%;
	height: auto !important;
	height: 100%; /*margin-bottom: -81px; the bottom margin is the negative value of the footer's height */;
	padding-bottom: 12px;
}
html, body {
	height: 100%;
}
body {
	background: transparent url('../images/bkg.jpg') repeat-x top;
	font: 12px / 18px tahoma;
}
.center {
	margin: 0px auto;
}
.block {
	display: inline;
	float: left;
	padding: 0px;
	margin: 6px;
}
.clear {
	clear: both;
	height: 1px;
}
.header {
	background: transparent url('../images/header.png') no-repeat top;
	height: 302px;
	position: relative;
}
.nav {
	height: 73px;
}
.nav ul li {
	float: right;
	margin: 0 6px;
}
.nav ul li a {
	color: black;
}
.top-title {
	background: url("../images/titlebkg.jpg") repeat-x scroll center -1px transparent;
	min-height: 80px;
}
.top-title img {
	float: right;
	padding: 3px;
	border: 1px solid #d0d0d0;
}
.top-title h1 {
	height: 21px;
	margin-bottom: 6px;
	font-family: verdana;
}
.top-title h2 a 
{
font-family: verdana;
font-size:16px;
	}
h2 {
	text-align: right;
}
.top-title p {
	direction: rtl;
	float: right;
	margin: 0 0 0 12px;
	text-align: right;
	width: 435px;
}
ol li {
	direction: rtl;
	text-align: right;
	list-style-type: decimal;
}
ol {
	padding : 12px 20px 0 0;
	float: right;
}
h1 {
	font-size: 16px;
	direction: rtl;
	text-align: right;
	padding: 3px 12px 0px;
}
.block-3-padding-border h1 {
	padding: 3px 0px 0px;
}
#footer {
	background: #cccccc url('../images/footerbkg.jpg') repeat-x top;
	height: 80px;
	padding: 12px 0 0 0;
}
#footer a {
	display: inline;
	padding: 0px 1em 0;
	text-decoration: none;
	color: black;
	font-weight: bold;
	width: 60px;
}
/**************/
/*** ESSENTIAL STYLES ***/
.sf-menu, .sf-menu * {
	margin: 0;
	padding: 0;
	list-style: none;
}
.sf-menu {
	line-height: 1.0;
}
.sf-menu ul {
	position: absolute;
	top: -999em;
	width: 10em; /* left offset of submenus need to match (see below) */
}
.sf-menu ul li {
	width: 100%;
}
.sf-menu li:hover {
	visibility: inherit; /* fixes IE7 'sticky bug' */
}
.sf-menu li {
	float: left;
	position: relative;
}
.sf-menu a {
	display: block;
	padding: 12px 1em 0;
	position: relative;
	right: 5px;
	text-decoration: none;
	top: 0;
	width: 60px;
	text-align: center;
}
.sf-menu li:hover ul, .sf-menu li.sfHover ul {
	left: 0;
	top: 3.2em; /* match top ul list item height */;
	z-index: 99;
}
ul.sf-menu li:hover li ul, ul.sf-menu li.sfHover li ul {
	top: -999em;
}
ul.sf-menu li li:hover ul, ul.sf-menu li li.sfHover ul {
	left: 10em; /* match ul width */;
	top: 0;
}
ul.sf-menu li li:hover li ul, ul.sf-menu li li.sfHover li ul {
	top: -999em;
}
ul.sf-menu li li li:hover ul, ul.sf-menu li li li.sfHover ul {
	left: 10em; /* match ul width */;
	top: 0;
}
.sf-menu li li a {
	right: 0px;
	height: 18px;
	color: black;
}
.sf-menu li li a:hover {
	right: 0px;
	height: 18px;
	color: black;
	background: #9AAEDB none;
}
/*** DEMO SKIN ***/
.sf-menu {
	float: right;
	margin-bottom: 1em;
	bottom: 5px;
	float: right;
	margin-bottom: 0em;
	position: relative;
}
.sf-menu a, .sf-menu a:visited {
	/* visited pseudo selector so IE6 applies text colour*/
 height: 39px;
}
.sf-menu li {
	height: 39px;
}
.sf-menu li li {
	background: #dbe6ec;
}
.sf-menu li li li {
	background: #9AAEDB;
}
/*
.sf-menu li:hover, .sf-menu li.sfHover,
.sf-menu a:focus,*/
.sf-menu a:hover, .sf-menu a:active {
	color: white;
	background: transparent url('../images/navselected.png') no-repeat top;
	text-decoration:none;
}
/*
.current{	 background: transparent url('../images/navselected.png') no-repeat top; color:white}
*/
div#slideShowItems {
	height: 280px;
	overflow: hidden;
	position: relative;
}
div#slideShowItems div {
	width: 626px;
}
div#slideShowItems img {
	margin-right: 13px;
	float: left;
}
ul#slideShowCount  {
bottom:30px;
left:330px;
margin:0;
padding:0;
position:absolute;
width:auto;
}
ul#slideShowCount li.slide {
	line-height: 14px;
	float: right;
	cursor: pointer;
	background: url('../images/slide-basic.png') no-repeat;
	height: 18px;
	width: 18px;
}
ul#slideShowCount li.slide span {
	display: inline-block;
	color: white;
	font-weight: bold;
	font-size: 12px;
}
ul#slideShowCount li.slide:hover {
	background: url('../images/slide_hover.png') no-repeat;
}
ul#slideShowCount li.slide.selectedTab {
	background: url('../images/slide_hover.png') no-repeat;
}
div#slideShow {
background:none repeat scroll 0 0 transparent;
float:left;
width:600px;
}
.form-text {
	width: 205px;
}
.form-item, .form-submit {
	float: right;
	text-align: right;
}
#container {
	width: 960px;
	position: relative;
	padding: 0;
}
.center {
	margin: 0px auto;
}
.block {
	display: inline;
	float: left;
	padding: 0px;
	margin: 6px;
	direction: rtl;
	text-align: right;
	width: 616px;
}
.clear {
	clear: both;
	height: 1px;
}
.block-3 {
	width: 309px;
}
.block-3-border {
	width: 290px;
	border: 1px solid #d0d0d0;
}
.block-3-padding-border {
	width: 274px;
	padding: 0px 12px 12px;
	border: 1px solid #d0d0d0;
}
.block-3-padding {
	width: 276px;
	padding: 0px 12px 12px;
}
.block-3-restof {
	width: 631px;
}
.block-3-padding-restof {
	width: 588px;
	padding: 0px 12px 12px;
}
.block-3-padding-border-restof {
	width: 586px;
	padding: 0px 12px 12px;
	border: 1px solid #d0d0d0;
}
.block-2 {
	width: 458px;
}
.block-2-border {
	width: 454px;
	border: 1px solid #d0d0d0;
}
.block-2-padding {
	width: 432px;
	padding: 0px 12px 12px;
}
.block-2-padding-border {
	width: 430px;
	padding: 0px 12px 12px;
	border: 1px solid #d0d0d0;
}
.block-1 {
	width: 940px;
	direction:rtl !important;
}
.block-1-border {
	width: 938px;
	border: 1px solid #d0d0d0;
}
.logo {
	background: url("../images/logo.png") no-repeat scroll 0 0 transparent;
	display: block;
	height: 250px;
	position: absolute;
	right: 0;
	top: 0;
	width: 229px;
	z-index: 2;
}
.block-3-restof .block-3 {
	margin: 6px 12px 0 0 !important;
}
.block-block {
	margin: 6px 0px;
	direction: ltr;
}
a, a:visited {
	text-decoration: none;
	color: black;
}
a:hover {
	text-decoration: underline;
	color: black;
}
.item-list ul, .item-list {
	direction: rtl;
	float: right;
	margin: 0 6px;
	text-align: right;
	padding: 0 !important;
}
.item-list ul li {
	list-style: none;
	list-style-type: none;
}
.image {
	display: inline;
	width: auto !important;
}
.news {
	background: url("../images/news.jpg") no-repeat scroll right -1px transparent;
	bottom: -66px;
	height: 25px;
	padding-right: 92px;
	position: absolute;
	right: 10px;
	width: 835px;
}
.news marquee {
	padding: 3px 0 0 0;
}
ul.menu {
	border: medium none;
	direction: rtl;
	list-style: none outside none;
	text-align: right;
	width: 91%;
}
ul.menu li {
	direction: rtl;
	margin: 0 0 0 0.5em;
}
.block-user {
	width: 270px;
	margin-top: 0 !important;
}
.block ul {
	margin: 0 !important;
	padding: 0 0 0 12px;
}
.block-user h2 {
	padding: 3px 0 0 !important;
}
.block-user .content {
	float: right;
	margin-right: 16px;
	margin-top: 6px !important;
}
.clear-block h2 {
	padding-right: 12px;
}
.clear-block h2 a {
	color:black !important;
}
.tableHeader-processed td {
	padding: 6px;
}
.tabs {
	margin-bottom: 6px;
}
.block-3-restof .form-item, .block-3-restof .form-submit {
	float: none;
	clear: both;
}
th.active img {
	display: inline;
	margin: 0 0 0 6px;
}
.container-inline, #edit-rebuild, #edit-submit, .date-container, #system-performance-settings .form-item, #user-admin-filter fieldset, .sticky-table, #node-type-form fieldset, #taxonomy-form-vocabulary fieldset, html.js fieldset.collapsible, .help,.tabledrag-processed{
	float: right;
	margin-top: 6px;
}
.admin fieldset{
float:none !important;clear:right;
}
.tableHeader-processed thead th {
	border-bottom: 3px solid #CCCCCC;
	padding: 7px;
	text-align: right;
}
.clear-block {
	background: #f1f1f1;
	padding:0px 6px !important;
}
.block-3-restof input, .block-3-restof label {
	margin: 0 0 0 6px !important;
}
.block-3-restof a, .block-user a {
	color: #387298;
}

.body-field-wrapper .teaser-button-wrapper {
	padding: 0px;
}
.form-submit {
	margin: 6px 0 0 0;
}
.help p {
/*
width:284px !important;*/	width: auto !important;
float:none!important;
}
html.js fieldset.collapsed legend a {
	background-position: right 50%;
}
html.js fieldset.collapsible legend a {
	padding-right: 15px;
}
.node {
	background-color: transparent !important;
}
#user-admin-filter ul {
	width: auto;
}
.block-3-restof dd, .block-3-restof dt {
	float: right!important;
	direction: rtl;
	text-align: right;
}.admin-list dd, .admin-list dt {
	float: none!important;
	direction: rtl;
	text-align: right;
}
.top-title h2 {
	padding: 3px 12px 0 0;
	margin-bottom: 12px;
}
div.admin .left  {
direction:rtl;
float:right;
margin-left:1em;
text-align:right;
width:45%;
}
.tabledrag-processed .block {
width:350px;
}