﻿/*body{background-color:blue;}*/
/* \*/
html #container {
    height: 1%;
}

div {
    zoom: 1;
}

/* */
.sf-menu A {
    width: 100px
}

.sf-menu {
    width: 100%
}

.sf-menu li {
float:right;
}
.nav {
    height: 20px;
}

.news {
    z-index: 99999;
    top: 330px;
    position: absolute;
    right: 6px;
    /*width: 856px;*/
}

.header {
    overflow: visible;
}

.image {
    width: 137px;
}

.image img {
    float:left;
}
/*
div, ul, li, a,p, input,label,span{border:1px solid red}*/
.meta meta-footer {
    display: none
}

.block-3-padding-border {
    float: right;
    width: 160px !important;
}

.block-3-restof .node  {
 direction:ltr;
text-align:left;

float:left!important;
margin:0 !important;

float:left!important;
margin:0 !important;


}

.block-user {
    float: right !important;
}

.block-user .content {
    margin-right: 18px
}

.block-user .form-text {
    width: 175px
}

.help {
    width: 60px
}

.menu li a, .news marquee {
    height: 25px !important;
}

ol {
    float: right;
    padding: 12px 30px 0 0;
}

ul#slideShowCount {
    display: block;
    width: 60px;
    float: left;
}

ul#slideShowCount li {
    float: left;
    display: inline;
}

ul#slideShowCount li.slide:hover {
    background: url('../images/slide_basic.gif') no-repeat;
}

ul#slideShowCount li.slide.selectedTab {
    background: url('../images/slide_hover.gif') no-repeat;
}

ul#slideShowCount li.slide {
    background: url('../images/slide_hover.gif') no-repeat;
}
.block-user{margin:0;width:195px}
.block-user h2{margin-right:12px}
.block-user .content {margin-right:8px !important}
.content  #container{width:720px !important;}
