﻿body{line-height:18px;}
.image img {
    float: none;
}

/*div, ul, li, a,p, input,label{border:1px solid red}*/

.nav ul li {
    WIDTH: auto;
ZOOM: 1;
    HEIGHT: 39px;
 VISIBILITY: visible;
    float: left !important;
    MARGIN: 0px 6px;
    PADDING-BOTTOM: 0px;
}
.block-user{    float: right !important;}
.block-3-padding-border{padding-right:0}
.block-user .content{margin-right:18px}
.block-user .form-text{width:170px}
.help{width:60px}
.menu li a, .news marquee {height:25px !important;}
ol {
float:right;
padding:12px 30px 0 0;
}
ul#slideShowCount{display:block;width:60px;float:left;}
ul#slideShowCount li{float:left;display:inline;}
