.one-sidebar .infiniteCarousel {
  width: 800px;
}

.one-sidebar .infiniteCarousel .wrapper {
  width: 800px; /* .infiniteCarousel width - (.wrapper margin-left + .wrapper margin-right) */
  overflow: auto;
  min-height: 20em;
  position: absolute;
  top: 40px;
}

.two-sidebars .infiniteCarousel {
  width: 640px;
}

.two-sidebars .infiniteCarousel .wrapper {
  width: 640px; /* .infiniteCarousel width - (.wrapper margin-left + .wrapper margin-right) */
  overflow: auto;
  min-height: 20em;
  position: absolute;
  top: 40px;
}

.infiniteCarousel ul a img {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}

.infiniteCarousel .wrapper ul {
  width: 9999px;
  list-style-image:none;
  list-style-position:outside;
  list-style-type:none;
  margin:0;
  padding:0;
  position: absolute;
  top: 0;
}

.infiniteCarousel ul li {
  display:block;
  float:left;
  padding: 10px;
  height: 196px;
  width: 140px;
  border-bottom: none;
  background-image: none;
}

.product .infiniteCarousel ul li {
  width: 110px;
}

.infiniteCarousel ul li a img {
  display:block;
}

.infiniteCarousel .arrow {
  display: block;
  height: 22px;
  width: 42px;
  background: url("../images/arrow.png") no-repeat 0 0;
  text-indent: -1999px;
  position: absolute;
  top: 7px;
  cursor: pointer;
}

.infiniteCarousel .forward {
  background-position: 0 0;
  right: 10px;
}

.infiniteCarousel .back {
  background-position: 0 -46px;
  right: 52px;
}

.infiniteCarousel .forward:hover {
  background-position: 0 -23px;
}

.infiniteCarousel .back:hover {
  background-position: 0 -69px;
}
