/* $Id$ */

/*
+----------------------------------------------------------------+
|   Fivestar Express for Dupal 6.x - Version 1.0                 |
|   Copyright (C) 2009 Antsin.com All Rights Reserved.           |
|   @license - Copyrighted Commercial Software                   |
|----------------------------------------------------------------|
|   Theme Name: Fivestar Express                                 |
|   Description: Fivestar Express by Antsin                      |
|   Author: Antsin.com                                           |
|   Website: http://www.antsin.com/                              |
|----------------------------------------------------------------+
|   This file may not be redistributed in whole or               |
|   significant part.                                            |
+----------------------------------------------------------------+
*/ 

/** body **/
a:hover, a:active, a:focus {
  color: #7791AA;
}

/** header **/
#header {
  border-top: 1px solid #92B1CE;
  background: #7791AA;  
}

/** navigation **/
#navbar {
  background: url("../images/cyan/menu_bg_cyan.png") repeat-x;  
}

#secondary {
  border-top: 1px solid #92B1CE;
  border-bottom: 1px solid #5D7285;
  background: #7791AA; 
}

#secondary ul {
  background: url("../images/cyan/divider_cyan.png") no-repeat right 3px;  
}

#secondary ul li {
  background: url("../images/cyan/divider_cyan.png") no-repeat left top;  
}

/** comments **/
.comment .submitted a, .comment .author {
  color: #7791AA;
}

/** footer **/
#footer {
  border-top: 1px solid #5D7285;
  background: #7791AA; 
}

#footer-inner {
  border-bottom: 1px solid #5D7285;
}

#footer img.framed {
  padding: 10px;
  background: #222222;
  border: 1px solid #92B1CE;
}

/** closure **/
#closure {
  background-color: #7791AA;
}

#closure-inner {
  border-top: 1px solid #92B1CE;
}