/* $Id$ */

/*
+----------------------------------------------------------------+
|   Fivestar Express for Dupal 6.x - Version 1.0                 |
|   Copyright (C) 2009 Antsin.com All Rights Reserved.           |
|   @license - Copyrighted Commercial Software                   |
|----------------------------------------------------------------|
|   Theme Name: Fivestar Express                                 |
|   Description: Fivestar Express by Antsin                      |
|   Author: Antsin.com                                           |
|   Website: http://www.antsin.com/                              |
|----------------------------------------------------------------+
|   This file may not be redistributed in whole or               |
|   significant part.                                            |
+----------------------------------------------------------------+
*/  

/** body **/
a:hover, a:active, a:focus {
  color: #3D4363;
}

/** header **/
#header {
  border-top: 1px solid #4f5966;
  background: #3d454f;  
}

/** navigation **/
#navbar {
  background: url("../images/dark/menu_bg_dark.png") repeat-x;  
}

#secondary {
  border-top: 1px solid #4f5966;
  border-bottom: 1px solid #2c3239;
  background: #3d454f; 
}

#secondary ul {
  background: url("../images/dark/divider_dark.png") no-repeat right 3px;  
}

#secondary ul li {
  background: url("../images/dark/divider_dark.png") no-repeat left top;  
}

/** comments **/
.comment .submitted a, .comment .author {
  color: #3D4363;
}

/** footer **/
#footer {
  background: #3d454f url("../images/dark/footer_bg_dark.png") repeat-x top;  
}

#footer-inner {
  border-bottom: 1px solid #2c3239;
}

#footer img.framed {
  padding: 10px;
  background: #222222;
  border: 1px solid #4f5966;
}

/** closure **/
#closure {
  background-color: #3d454f;
}

#closure-inner {
  border-top: 1px solid #4f5966;
}