/* $Id$ */

/*
+----------------------------------------------------------------+
|   Fivestar Express for Dupal 6.x - Version 1.0                 |
|   Copyright (C) 2009 Antsin.com All Rights Reserved.           |
|   @license - Copyrighted Commercial Software                   |
|----------------------------------------------------------------|
|   Theme Name: Fivestar Express                                 |
|   Description: Fivestar Express by Antsin                      |
|   Author: Antsin.com                                           |
|   Website: http://www.antsin.com/                              |
|----------------------------------------------------------------+
|   This file may not be redistributed in whole or               |
|   significant part.                                            |
+----------------------------------------------------------------+
*/ 

/*==============  RESET  ===================*/
html, body, div, blockquote, p, ul, ol, li, h1, h2, h3, h4, h5, h6, th, td {
  margin: 0;
  padding: 0;
}

blockquote, ul, ol, dl {
  margin: 1em;
}

ol,ul,dl {
  padding-left: 2em;
}

th,td {
  padding: .5em;
}

p {
  margin: 1em 0;
}

/*==============  LAYOUT  ===================*/
/** body **/
#page, #header, #navbar, #secondary, #main, #footer, #closure {
  width: 100%
  clear: both;
}

#header-inner, #navbar-inner, #secondary-inner, #main-inner, #footer-inner, #closure-inner { 
  margin-left: auto;
  margin-right: auto;
  width: 1000px;
}

/** headline **/
#headlines {
  position: relative;
  margin-bottom: 10px;
}

#headlines .node h2 {
  position: static;
}

.headlines-1 div.column  {
  float: left;
  width: 100%;
}

.headlines-2 div.column  {
  float: left;
  width: 50%;
}

.headlines-2 #subheadline .block {
  padding: 10px 0 0 20px;
}

/** main **/
#main {
  position: relative;
  background: url("../images/main_bg.png") repeat-x;  
}

#main-inner {
  padding: 40px 0 20px 0;
}

/** content **/
#content, .no-sidebars #content {
  float: left;
  width: 1000px;
  margin-left: 0;
  margin-right: -1000px;
  padding: 0; 
}

.one-sidebar #content {
  width: 840px;
  margin-top: 0 !important;
  margin-left: 0;
  margin-right: -840px;
}

.two-sidebars #content {
  width: 680px;
  margin-top: 0 !important;
  margin-right: -680px;
}

/** sidebar **/
.one-sidebar #sidebar {
  width: 150px;
  margin-left: 840px;
  padding-left: 10px;
}

.two-sidebars #sidebar {
  width: 310px;
  margin-left: 690px;
  margin-right: -690px; 
}

#sidebar-top {
  float: left;
  width: 310px;
}

.one-sidebar #sidebar-left, .one-sidebar #sidebar-right, .two-sidebars #sidebar-left, .two-sidebars #sidebar-right {
  float: left;
  width: 150px;
}

.two-sidebars #sidebar-left {
  padding-right: 10px;
}

/** footer **/
#footer .footer-1 div.column  {
  float: left;
  width: 100%;
}

#footer .footer-2 div.column  {
  float: left;
  margin: 0 10px;
  width: 47%;
}

.footer-3 #footer-one {
  float: left;
  margin: 0 10px;
  width: 440px;
}

.footer-3 #footer-three, .footer-3 #footer-four  {
  float: left;
  margin: 0 10px;
  width: 250px;
}

#footer .footer-4 div.column  {
  float: left;
  padding: 10px 10px 0 10px;
  width: 230px;
}

#footer-inner {
  padding: 20px 0;
}

/** view **/
.views-field-created, .views-field-timestamp {
  font-size: 90%;
  font-style: italic; 
}

.view-multi-columns #node {
  padding: 0;
}

.view-display-id-page_1 .column {
  float: left;
  width: 314px;
}

.view-display-id-page_2 .column {
  float: left;
  width: 259px;
}

.view-display-id-page_1 .col-1, .view-display-id-page_2 .col-1, .view-display-id-page_2 .col-2 {
  padding-right: 10px;
}

.view-display-id-page_1 .col-1, .view-display-id-page_1 .col-2, .view-display-id-page_2 .col-1, .view-display-id-page_2 .col-2, .view-display-id-page_2 .col-3 {
  padding-bottom: 10px;
}

/** HELPER CLASSES **/
.clearfix:after  {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
 
.clearfix  {
  display: inline-block;
}
 
html[xmlns] .clearfix  {
  display: block;
}
 
* html .clearfix  {
  height: 1%;
}

/*==============  STYLE  ====================*/
/** body **/
body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  color: #000;
  line-height: 1.8;
  background: #F2F2F2;
}

h1, h2, h3 {
  font-weight: normal;
  line-height: 1;
  margin: 0;
}

h1 {
  font-size: 200%;
}
 
h2 {
  font-size: 150%;
}

h3 {
  font-size: 120%;
}

a  {
  color: #000;
  text-decoration: none;
}

a:hover, a:active {
  text-decoration: underline;
}

img.left {
  float: left;
  margin: 0 20px 10px 0;
}

img.right {
  float: right;
  margin: 0 0 10px 20px;
}

img.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

img.framed {
  padding: 5px;
  background: #eeeeee;
  border: 1px solid #dddddd;
}

/** page **/
#page {
  border-top: 1px solid #151413;
}

/** header **/
#header {
  min-height: 90px;
}

#site-name-slogan {
  color: #fff;
  float: left;
  padding: 20px 10px 0 0;
}

#site-name a {
  color: #fff;
}

#site-slogan  {
  padding: 5px 0 10px 0;
  font-size: 90%;
  font-weight: bold;
}

#site-slogan-noname {
  padding: 25px 0 10px 0;
  font-size: 90%;
  font-weight: bold;
}

#logo {
  float: left;
  margin: 0;
  padding: 20px 20px 0 0;
}

#logo-title {
  float: left;
  width: 500px;
  display: inline;
}

#header-blocks {
  color: #fff;
  float: right; 
  text-align:right;
  width: 460px;
}

#header-blocks .block {
  padding: 10px 0;
}

#header-blocks h2 {
  color: #fff;
  position: static;
  padding-bottom: 10px;
}

#header-blocks a {
  color: #fff;
}

/** navigation **/
#navbar {
  height: 52px;
}

#secondary {
  height: 19px;
}

#secondary a {
  color: #fff;
}

#secondary ul li {
  font-size: 90%;
  padding: 0 10px 0 14px;
}

#secondary-inner {
  text-align:right;
}

/** search **/
#search {
  position: relative;
  float: right;
  width: 300px;
  height: 52px;
  background: url("../images/search.png") no-repeat left 15px; 
}

#search .form-text {
  width: 200px;
  border: 0;
  margin: 7px 0 0 10px;
  background-color: #F4F4F4;
}

#search .form-submit {
  position: absolute;
  top: 16px;
  right: 0px;
  color: #fff;
  width: 72px;
  height: 21px;
  border: 0;
  font-family: verdana, sans-serif, arial;
  font-size: 80%;
  font-weight: bold;
  text-transform: uppercase;
  background: url("../images/search_button.png") no-repeat left top;
}

/** login **/
#user-login-form {
  text-align: left;
  font-size: 95%;
}

#user-login-form .form-text {
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
  border-width: 2px 1px 1px 1px;
  border-style: solid;
  border-color: #707070 #BDBDBD #DEDEDE #707070;
  background-color: #F7F7F7;
}

#user-login-form label, #user-login-form label {
  text-align: left;
  font-weight: normal !important;
}

.form-required {
  color: #fff;
}

#user-login-form li { 
  font-style: italic; 
}

/** headline **/
#headlines-inner {
  padding: 15px 20px 10px 20px;
  border-left: 1px solid #DEDEDE;
  border-right: 1px solid #DEDEDE;
  background: #fff;
}

#headline h2 {
  width: auto !important;
  font-size: 100%;
}

#headline .terms {
  display: none;
}

#subheadline p {
  margin: 0;
}

#subheadline .views-row {
  position: relative;
  padding-bottom: 15px;
}

#subheadline .views-field-title {
  padding-left: 100px;
  font-weight: bold;
  line-height: 1;
}

#subheadline .views-field-created {
  padding-left: 100px;
  font-size: 90%;
  color: #B1B1B1;
}

#subheadline .views-field-teaser {
  margin-left: 100px;
  padding-bottom: 10px;
  border-bottom: 1px solid #DEDEDE;
}

#subheadline .views-field-teaser img {
  position: absolute;
  top: 0;
  left: 0;
  width: 69px;
  height: 52px;
}

/** breadcrumb **/
#breadcrumb {
  padding-top: 7px;
  color: #646464; 
  font-size: 90%;
}

#breadcrumb a {
  color: #646464; 
  padding: 0 10px;
}

/** content **/
#content-area {
  padding: 20px;
  border-left: 1px solid #DEDEDE;
  border-right: 1px solid #DEDEDE;
  background: #fff;
}

#content-area .content a {
  color: #B76F00;
}

#content-top {
  padding-bottom: 20px;
}

#content-bottom {
  padding-top: 20px;
}

#content-top h2, #content-bottom h2 {
  position: static;
  padding-bottom: 10px;
}

/** footer **/
#footer, #footer a {
  color: #fff;
}

#footer h2 {
  color: #fff;
  position: static;
  font-size: 100%;
  font-weight: bold;
  text-transform: none;
  padding: 10px 0;
  margin-bottom: 10px;
  border-bottom: 1px dotted #fff;
}

/** closure **/
#closure {
  font-size: 90%;
  height: 50px;
}

#closure-inner {
  padding: 15px 0;
}

#closure p {
  padding: 0;
  margin: 0;
}

#designed-by {
  float: right;
  text-transform: uppercase;
}

/** node **/
#node {
  padding: 5px 0;
}

#node-inner {
  position: relative;
  padding: 20px;
}

.without-view h2 {
  width: 450px;
}

#node div.tl, .block div.tl {
  background: url("../images/box_tl.png") no-repeat top left;
}

#node div.tr, .block div.tr {
  background: url("../images/box_tr.png") no-repeat top right;
}

#node div.bl, .block div.bl {
  background: url("../images/box_bl.png") no-repeat bottom left;
}

#node div.br, .block div.br {
  background: #F4F4F4 url("../images/box_br.png") no-repeat bottom right;
}

#node .submitted, #node .links {
  font-size: 90%;
  color: #B1B1B1;
}

#node .submitted a, #node .links a {
  color: #B1B1B1;
}

#node .links ul {
  margin: 0;
  padding: 0;
  border-left: 1px solid #B1B1B1;
}

#node .links li {
  margin: 0;
  padding: 0 10px;
  border-right: 1px solid #B1B1B1;
}

div.terms ul {
  margin: 0;
  padding: 0;
  border-left: none !important;
}

#node .read-more  {
  display: block;
}

#node .read-more a {
  color: #000;
}

/** comments **/
#comments {
  color: #555555;
  padding-top: 20px;
}

#comments h2 {
  padding: 20px 0 20px 70px;
  background: url("../images/comment.png") no-repeat left bottom;
}

#comments .box h2 {
  background: url("../images/comment_post.png") no-repeat left bottom;
}

.comment {
  padding: 15px 0;
}

.comment .picture  {
  float: left;
  padding-right: 15px;
  padding-bottom: 5px;
}

.comment .picture img {
  width: 50px;	
  height: 50px;
  padding: 3px;
  background: #eeeeee;
  border: 1px solid #dddddd;
}

.comment .content {
  padding: 15px 20px 0 20px;
}

.comment .content-inner {
  padding-left: 55px;
}

.comment .submitted {
  color: #A0A0A0;
  margin: 0 5px;
  line-height: 1.5;
  border-bottom: 1px solid #DADADA;
}

.comment .author {
  font-size: 150%;
  font-weight: normal;
  padding-right: 15px;
}

.comment div.links  {
  float: right;
  text-align: right;
  padding: 5px 0 0 0 !important;
  margin: 0 !important;
}

.comment div.links a {
  color: #2C2C2C;
  font-size: 90%;
  font-weight: bold;
  text-transform: uppercase;
}

.indented {
  margin-left: 20px;
}

#comments .box {
  padding-top: 20px;
}

#comments .box .content {
  margin: 10px 0;
  padding: 20px 30px 40px 30px;
  border: 1px solid #DDDDDD;
  background-color: #F4F4F4;
}

#comments .box .form-text { 
  width: 100%;
  height: 30px;
  border: 1px solid #DDDDDD;
}

#comments .tips {
  padding-top: 20px;
}

#comments .form-textarea {
  overflow: hidden;
  border: 1px solid #DDDDDD;
}

#comments .resizable-textarea  {
  width: 100%;
}

/** block **/
#showcase .block-inner, #sidebar-top .block-inner, #sidebar-left .block-inner, #sidebar-right .block-inner {
  padding: 10px;
  border-left: 1px solid #DEDEDE;
  border-right: 1px solid #DEDEDE;
  background-color: #fff
}

#showcase, #sidebar-top .block, #sidebar-left .block, #sidebar-right .block {
  position: relative;
  margin-bottom: 10px;
}

.block h2 {
  color: #646464;
  position: absolute;
  top: 13px;
  left: 20px;
  font-size: 90%;
  font-weight: bold;
  text-transform: uppercase;
}

#showcase .content {
  height: 200px;
}

#showcase .small .content {
  height: 90px;
}

/** view **/
.views-field-created, .views-field-timestamp {
  font-size: 90%;
  font-style: italic; 
}

/** box **/
.dark h2, .dark a, .blue h2, .blue a, .red h2, .red a, .grey h2, .grey a, .dark_grey h2, .dark_grey a {
  color: #E0E0E0;
}

.cyan h2, .cyan a, .gold h2, .gold a , .green h2, .green a {
  color: #fff;
}

.top {
  height: 33px;
  margin: 0 10px;
  background: url("../images/box/top_bg.png") repeat-x;  
}

.top-left {
  background: url("../images/box/top_left.png") no-repeat left top;  
}

.top-right {
  background: url("../images/box/top_right.png") no-repeat right top;  
}

.bottom {
  height: 10px;
  margin: 0 10px;
  background: url("../images/box/bottom_bg.png") repeat-x;  
}

.bottom-left {
  background: url("../images/box/bottom_left.png") no-repeat left top;  
}

.bottom-right {
  background: url("../images/box/bottom_right.png") no-repeat right top;  
}

.green .block-inner {
  color: #fff;
  border-width: 0 !important;
  background-color: #AFCF48 !important;
}

.green .top {
  background: url("../images/box/top_bg_green.png") repeat-x;  
}

.green .top-left {
  background: url("../images/box/top_left_green.png") no-repeat left top;  
}

.green .top-right {
  background: url("../images/box/top_right_green.png") no-repeat right top;  
}

.green .bottom {
  background-color: #AFCF48;
  background-image: none;
}

.green .bottom-left {
  background: url("../images/box/bottom_left_green.png") no-repeat left top;  
}

.green .bottom-right {
  background: url("../images/box/bottom_right_green.png") no-repeat right top;  
}

.red .block-inner {
  color: #fff;
  border-width: 0 !important;
  background-color: #A21A1A !important;
}

.red .top {
  background: url("../images/box/top_bg_red.png") repeat-x;  
}

.red .top-left {
  background: url("../images/box/top_left_red.png") no-repeat left top;  
}

.red .top-right {
  background: url("../images/box/top_right_red.png") no-repeat right top;  
}

.red .bottom {
  background-color: #A21A1A;
  background-image: none;
}

.red .bottom-left {
  background: url("../images/box/bottom_left_red.png") no-repeat left top;  
}

.red .bottom-right {
  background: url("../images/box/bottom_right_red.png") no-repeat right top;  
}

.grey .block-inner {
  border-width: 0 !important;
  background-color: #DDDDDD !important;
}

.grey .top {
  background: url("../images/box/top_bg_grey.png") repeat-x;  
}

.grey .top-left {
  background: url("../images/box/top_left_grey.png") no-repeat left top;  
}

.grey .top-right {
  background: url("../images/box/top_right_grey.png") no-repeat right top;  
}

.grey .bottom {
  background-color: #DDDDDD;
  background-image: none;
}

.grey .bottom-left {
  background: url("../images/box/bottom_left_grey.png") no-repeat left top;  
}

.grey .bottom-right {
  background: url("../images/box/bottom_right_grey.png") no-repeat right top;  
}

.blue .block-inner {
  color: #fff;
  border-width: 0 !important;
  background-color: #3D4363 !important;
}

.blue .top {
  background: url("../images/box/top_bg_blue.png") repeat-x;  
}

.blue .top-left {
  background: url("../images/box/top_left_blue.png") no-repeat left top;  
}

.blue .top-right {
  background: url("../images/box/top_right_blue.png") no-repeat right top;  
}

.blue .bottom {
  background-color: #3D4363;
  background-image: none;
}

.blue .bottom-left {
  background: url("../images/box/bottom_left_blue.png") no-repeat left top;  
}

.blue .bottom-right {
  background: url("../images/box/bottom_right_blue.png") no-repeat right top;  
}

.dark .block-inner {
  color: #fff;
  border-width: 0 !important;
  background-color: #3d454f !important;
}

.dark .top {
  background: url("../images/box/top_bg_dark.png") repeat-x;  
}

.dark .top-left {
  background: url("../images/box/top_left_dark.png") no-repeat left top;  
}

.dark .top-right {
  background: url("../images/box/top_right_dark.png") no-repeat right top;  
}

.dark .bottom {
  background-color: #3d454f;
  background-image: none;
}

.dark .bottom-left {
  background: url("../images/box/bottom_left_dark.png") no-repeat left top;  
}

.dark .bottom-right {
  background: url("../images/box/bottom_right_dark.png") no-repeat right top;  
}

.dark_grey .block-inner {
  color: #fff;
  border-width: 0 !important;
  background-color: #3F3F3F !important;
}

.dark_grey .top {
  background: url("../images/box/top_bg_dark_grey.png") repeat-x;  
}

.dark_grey .top-left {
  background: url("../images/box/top_left_dark_grey.png") no-repeat left top;  
}

.dark_grey .top-right {
  background: url("../images/box/top_right_dark_grey.png") no-repeat right top;  
}

.dark_grey .bottom {
  background-color: #3F3F3F;
  background-image: none;
}

.dark_grey .bottom-left {
  background: url("../images/box/bottom_left_dark_grey.png") no-repeat left top;  
}

.dark_grey .bottom-right {
  background: url("../images/box/bottom_right_dark_grey.png") no-repeat right top;  
}

.cyan .block-inner {
  color: #fff;
  border-width: 0 !important;
  background-color: #7791aa !important;
}

.cyan .top {
  background: url("../images/box/top_bg_cyan.png") repeat-x;  
}

.cyan .top-left {
  background: url("../images/box/top_left_cyan.png") no-repeat left top;  
}

.cyan .top-right {
  background: url("../images/box/top_right_cyan.png") no-repeat right top;  
}

.cyan .bottom {
  background-color: #7791aa;
  background-image: none;
}

.cyan .bottom-left {
  background: url("../images/box/bottom_left_cyan.png") no-repeat left top;  
}

.cyan .bottom-right {
  background: url("../images/box/bottom_right_cyan.png") no-repeat right top;  
}

.gold .block-inner {
  color: #fff;
  border-width: 0 !important;
  background-color: #b8bd8b !important;
}

.gold .top {
  background: url("../images/box/top_bg_gold.png") repeat-x;  
}

.gold .top-left {
  background: url("../images/box/top_left_gold.png") no-repeat left top;  
}

.gold .top-right {
  background: url("../images/box/top_right_gold.png") no-repeat right top;  
}

.gold .bottom {
  background-color: #b8bd8b;
  background-image: none;
}

.gold .bottom-left {
  background: url("../images/box/bottom_left_gold.png") no-repeat left top;  
}

.gold .bottom-right {
  background: url("../images/box/bottom_right_gold.png") no-repeat right top;  
}

/** list **/
.block ul {
  margin: 0;
  padding: 0;
}

.block ul li {
  list-style: none;
  list-style-image: none;
  margin: 0;
  padding: 5px 0 5px 15px;
  border-bottom: 1px solid #DDDDDD;
  background: url("../images/list_dot.png") no-repeat left 12px;  
}

ul.pager li {
  border-bottom: none;
}

.block ul ul li.last {
  padding-bottom: 0;
  border-bottom: none;
}

.arrow ul li {
  background: url("../images/list_arrow.png") no-repeat left 8px;  
}

.arrow-point ul li {
  background: url("../images/list_arrow_point.png") no-repeat left 12px;  
}

.square ul li {
  background: url("../images/list_square.png") no-repeat left 12px;  
}

.no-border ul li {
  border-bottom: none !important;
}

.no-background ul li {
  padding-left: 0px;
  background-image: none !important;  
}

/** ribbon **/
.node-teaser .ribbon_blue {
  position: absolute;
  width: 75px;
  height: 69px;
  top: -22px;
  left: -27px;
  background: url("../images/ribbon_blue.png") no-repeat left top;
}

.node-teaser .ribbon_red {
  position: absolute;
  width: 75px;
  height: 69px;
  top: -22px;
  left: -27px;
  background: url("../images/ribbon_red.png") no-repeat left top;
}

/** fivestar **/
form.fivestar-widget {
  width: 180px;
  height: 45px;
  position: absolute;
  top: 0;
  right: 0;
  background: #F4F4F4 url("../images/fivestar_bg.png") no-repeat left top;
}

.view-multi-columns form.fivestar-widget, #headline form.fivestar-widget {
  width: 120px;
  height: 55px;
  top: auto;
  bottom: 0;
  background: none;
}

div.fivestar-widget {
  padding: 5px 0 5px 40px;
}

.view-multi-columns div.fivestar-widget, #headline div.fivestar-widget {
  padding-left: 20px;
}

.fivestar-widget div.description {
  position: absolute;
  top: 5px;
  right: 5px;
  background-color: #F4F4F4;
}

.fivestar-widget-static {
  padding-top: 5px;
}

.view-multi-columns div.description, #headline div.description {
  top: auto;
  right: 20px;
  background-color: transparent;
}

.user-rating, .average-rating, .empty {
  display: none;
}

/** quick tab **/
ul.quicktabs_tabs {
  color: #646464;
  position: absolute;
  top: 12px;
  left: 10px;
  font-size: 90%;
  font-weight: bold;
  text-transform: uppercase;
}

ul.quicktabs_tabs li {
  padding: 0 10px;
  border-right: 1px solid #E0E0E0;
  border-bottom: none;
  background-image: none;
}

ul.quicktabs_tabs a {
  color: #646464;
}

.grey ul.quicktabs_tabs a, .dark_grey ul.quicktabs_tabs a, .dark ul.quicktabs_tabs a, .red ul.quicktabs_tabs a, .blue ul.quicktabs_tabs a {
  color: #E0E0E0;
}

.green ul.quicktabs_tabs a, .cyan ul.quicktabs_tabs a, .gold ul.quicktabs_tabs a {
  color: #fff;
}

.block-quicktabs .block-inner {
  line-height: 1;
}

.quicktabs_tabpage .block-inner {
  padding: 0 !important;
  margin: 0 !important;
  border-width: 0 !important;
}

/** miscellaneous **/
.form-submit {
  color: #505050;
  font-size: 90%;
  font-weight: bold;
  border: 1px outset #BDBCBD;
  padding: 5px 8px;
  background: #fff url("../images/button_bg.png") repeat-x left bottom;
}

.form-submit:hover {
  background: #fff url("../images/button_hover_bg.png") repeat-x left top;
}

/*==============  MENU  =====================*/
#primary {
  font-family:	verdana, sans-serif, arial;
  font-size: 11px;
}

#primary a  {
  float: left;
  cursor: pointer;
  padding: 0 1px 0 9px;
}

#primary a span  {
  float: left;
  display: block;
  padding: 19px 25px 15px 16px;
}

#primary a:hover, #primary a.active, #primary li.active-trail a  {
  background: url("../images/tab_left.png") no-repeat left bottom;
}

#primary a:hover span, #primary a.active span, #primary li.active-trail span  {
  background: url("../images/tab_right.png") no-repeat right bottom;
}

#primary ul ul a, #primary ul ul span {
  background-image: none !important;
  padding: 0 !important;
}

#primary ul,
#primary ul li,
#primary ul ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

#primary ul {
  position: relative;
  z-index: 597;
  float: left;
}

#primary ul li {
  float: left;
  vertical-align: middle;
  zoom: 1;
}

#primary ul li.hover,
#primary ul li:hover {
  position: relative;
  z-index: 599;
  cursor: default;
}

#primary ul li {
  list-style-type: none !important;
  list-style-image: none !important;
}

#primary ul ul {
  visibility: hidden;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 598;
  width: 100%;
}

#primary ul ul li {
  float: none;
}

#primary ul ul ul {
  top: 1px;
  left: 99%;
}

#primary ul li:hover > ul {
  visibility: visible;
}

#primary ul li.rtl ul {
  top: 100%;
  right: 0;
  left: auto;
}

#primary ul li.rtl ul ul {
  top: 1px;
  right: 99%;
  left: auto;
}

#primary ul {
  font-size: 90%;
  font-weight: bold;
}

#primary ul li {
  text-transform : uppercase;
  color: #000;
}

#primary ul a:link,
#primary ul a:visited	{ color: #fff; text-decoration: none; }
#primary ul a:hover,
#primary ul a.active,
#primary ul li.active-trail a { color: #646464; }

#primary li.expanded ul a, 
#primary li.leaf ul a { 
  color: #646464;
}

#primary li.expanded ul a:hover,
#primary li.expanded ul a.active,
#primary li.leaf ul a:hover,
#primary li.leaf ul a.active { 
  color: #fff;
}

#primary ul ul {
  width: 200px;
}

#primary ul ul li {
  height: 18px;
  padding: 10px 20px !important;
  border-bottom: 1px solid #F2F2F2;
  background-color: #CFCFCF;
}

#primary ul ul ul {
 display: none !important;
}