/* $Id$ */

/*
+----------------------------------------------------------------+
|   Fivestar Express for Dupal 6.x - Version 1.0                 |
|   Copyright (C) 2009 Antsin.com All Rights Reserved.           |
|   @license - Copyrighted Commercial Software                   |
|----------------------------------------------------------------|
|   Theme Name: Fivestar Express                                 |
|   Description: Fivestar Express by Antsin                      |
|   Author: Antsin.com                                           |
|   Website: http://www.antsin.com/                              |
|----------------------------------------------------------------+
|   This file may not be redistributed in whole or               |
|   significant part.                                            |
+----------------------------------------------------------------+
*/ 

/** body **/
a:hover, a:active, a:focus {
  color: #4A4A4A;
}

/** header **/
#header {
  border-top: 1px solid #6A6A6A;
  background: #4A4A4A;  
}

/** navigation **/
#navbar {
  background: url("../images/grey/menu_bg.png") repeat-x;  
}

#secondary {
  border-top: 1px solid #6A6A6A;
  border-bottom: 1px solid #151413;
  background: #4A4A4A; 
}

#secondary ul {
  background: url("../images/grey/divider.png") no-repeat right 3px;  
}

#secondary ul li {
  background: url("../images/grey/divider.png") no-repeat left top;  
}

/** comments **/
.comment .submitted a, .comment .author {
  color: #4A4A4A;
}

/** footer **/
#footer {
  background: #4A4A4A url("../images/grey/footer_bg.png") repeat-x top;  
}

#footer-inner {
  border-bottom: 1px solid #2F2F2F;
}

#footer img.framed {
  padding: 10px;
  background: #222222;
  border: 1px solid #6A6A6A;
}

/** closure **/
#closure {
  background-color: #4A4A4A;
}

#closure-inner {
  border-top: 1px solid #6A6A6A;
}