/* $Id$ */

/*
+----------------------------------------------------------------+
|   Fivestar Express for Dupal 6.x - Version 1.0                 |
|   Copyright (C) 2009 Antsin.com All Rights Reserved.           |
|   @license - Copyrighted Commercial Software                   |
|----------------------------------------------------------------|
|   Theme Name: Fivestar Express                                 |
|   Description: Fivestar Express by Antsin                      |
|   Author: Antsin.com                                           |
|   Website: http://www.antsin.com/                              |
|----------------------------------------------------------------+
|   This file may not be redistributed in whole or               |
|   significant part.                                            |
+----------------------------------------------------------------+
*/ 

/** body **/
a:hover, a:active, a:focus {
  color: #C10612;
}

/** header **/
#header {
  border-top: 1px solid #C0001E;
  background: #8E0319;  
}

/** navigation **/
#navbar {
  background: url("../images/red/menu_bg_red.png") repeat-x;  
}

#secondary {
  border-top: 1px solid #C0001E;
  border-bottom: 1px solid #630010;
  background: #8E0319; 
}

#secondary ul {
  background: url("../images/red/divider_red.png") no-repeat right 3px;  
}

#secondary ul li {
  background: url("../images/red/divider_red.png") no-repeat left top;  
}

/** comments **/
.comment .submitted a, .comment .author {
  color: #C10612;
}

/** footer **/
#footer {
  background: #C0C0C0 url("../images/red/footer_bg_red.png") repeat-x top;  
}

#footer-inner {
  border-bottom: 1px solid #808080;
}

#footer img.framed {
  padding: 10px;
  background: #222222;
  border: 1px solid #F2F2F2;
}

/** closure **/
#closure {
  background-color: #C0C0C0;
}

#closure-inner {
  border-top: 1px solid #F2F2F2;
}