/* $Id: location.css,v 1.8.2.1 2010/05/13 11:49:41 rooby Exp $ */

/**
 * @file
 * Location CSS rules.
 */

table.location-search-form {
  margin:0;
  border:0;
  padding:0;
}

table.location-search-form-table tbody {
  margin:0;
  border:0;
  padding:0;
}

table.location-search-form-table tbody tr {
  border:0;
  margin:0;
  padding:0;
}

table.location-search-form-table tbody tr td {
  border:0;
  margin:0;
  padding:0;
}

table.location-search-form-table tbody tr td table {
  border:0;
  margin:0;
  padding:0;
}

table.location-search-form-table tbody tr td table tbody {
  border:0;
  margin:0;
  padding:0;
}

table.location-search-form-table tbody tr td table tbody tr {
  border:0;
  margin:0;
  padding:0;
}

table.location-search-form-table tbody tr td table tbody tr td {
  border:0;
  margin:0;
  padding:0;
}

table.location-search-form-table tbody tr td table tbody tr td table {
  border:0;
  margin:0;
  padding:0;
}

table.location-search-form-table tbody tr td table tbody tr td table tbody {
  border:0;
  margin:0;
  padding:0;
}

table.location-search-form-table tbody tr td table tbody tr td table tbody tr {
  border:0;
  margin:0;
  padding:0;
}

table.location-search-form-table tbody tr td table tbody tr td table tbody tr td {
  border:0;
  margin:0;
  padding:0;
}

/*
.location .container-inline {
  clear: right ;
}
.location .container-inline label {
  display: block;
  float: right ;
  width: 120px;
}
.location .form-item .description {
  white-space: normal;
}


*/
.location .container-inline { clear: left; }
.location .container-inline label { display: block; float: left; width: 120px; }

.location-current-coordinates-fieldset {
  width: 35em;
}

.location .form-item input {
  display: block;
  width: 25em;
  margin-bottom: 5px;
}

.location .form-item label {
  display: block;
  float: right ;
  text-align: left;
  width: 10em;
  padding-right: 10px;
}

.location .form-item {
  clear:both;
}

/* "Delete" checkbox. */
.location .form-item label.option {
  display: inline;
  float: none;
  text-align: inherit;
  width: auto;
  padding-right: 0;
}

/* "Delete" checkbox. */
.location .form-item input.form-checkbox {
  display: inline;
  float: none;
  width: auto;
  margin-bottom: 0;
}

.location .description {
  white-space: normal;
}
