/* $Id$ */

/*
+----------------------------------------------------------------+
|   Flexsys for Dupal 6.x - Version 1.0                          |
|   Copyright (C) 2009 Antsin.com All Rights Reserved.           |
|   @license - Copyrighted Commercial Software                   |
|----------------------------------------------------------------|
|   Theme Name: Flexsys                                          |
|   Description: Flexsys by Antsin                               |
|   Author: Antsin.com                                           |
|   Date: 7th November 2009                                      |
|   Website: http://www.antsin.com/                              |
|----------------------------------------------------------------+
|   This file may not be redistributed in whole or               |
|   significant part.                                            |
+----------------------------------------------------------------+
*/ 

/*==============  RESET  ===================*/
html, body, div, blockquote, p, ul, ol, li, h1, h2, h3, h4, h5, h6, th, td {
  margin: 0;
  padding: 0;
}

blockquote, ul, ol, dl {
  margin: 1em;
}

ol,ul,dl {
  margin-left: 2em;
}

th,td {
  padding: .5em;
}

p {
  margin: 1em 0;
}

/*==============  LAYOUT  ===================*/
/** body **/
#page { 
  margin-left: auto;
  margin-right: auto;
  width: 960px;
}

/** header **/
#header {
  clear: both;
  min-height: 110px;
}

#site-name {
  margin: 0;
  padding: 20px 20px 0 20px;
}

#site-slogan {
  padding-left: 20px;
}

#logo {
  float: left;
  margin: 0 10px 0 0;
  padding: 0;
}

#logo-title {
  float: left;
  width: 460px;
  padding-top: 30px;
  display: inline;
}

#header-blocks {
  float: right; 
  text-align:right;
  width: 460px;
  padding: 20px;
}

#header-blocks .block {
  margin-bottom: 5px;
}

/** headline **/
#headlines
{
  margin-bottom: 10px;
}

.headlines-1 div.column 
{
  float: left;
  width: 100%;
}

.headlines-2 div.column 
{
  float: left;
  width: 50%;
}

/** main **/
#main
{
  position: relative;
}

/** content **/
#content, .no-sidebars #content
{
  float: left;
  width: 920px;
  margin-left: 20px;
  margin-right: -940px; 
  padding: 0; 
}

.sidebar-left #content
{
  width: 670px;
  margin-left: 268px; 
  margin-right: -938px; 
}

.sidebar-right #content
{
  width: 670px;
  margin-left: 18px;
  margin-right: -690px; 
}

.two-sidebars #content
{
  width: 480px;
  margin-left: 240px; 
  margin-right: -720px; 
}

/** sidebar-left **/
.sidebar-left #sidebar-left
{
  float: left;
  width: 228px;
  margin-left: 18px;
  margin-right: -248px;
  padding: 0; 
}

.two-sidebars #sidebar-left
{
  float: left;
  width: 200px;
  margin-left: 18px;
  margin-right: -220px; 
  padding: 0;
}

/** sidebar-right **/
.sidebar-right #sidebar-right
{
  float: left;
  width: 228px;
  margin-left: 710px;
  margin-right: -938px; 
  padding: 0;
}

.two-sidebars #sidebar-right
{
  float: left;
  width: 200px;
  margin-left: 738px;
  margin-right: -938px;
  padding: 0;
}

.no-sidebars #content-inner
{
  padding: 0 20px; 
}

/** main top **/
#main-bottom
{
  position: relative; 
  padding-top: 20px;
}

#main-bottom .main_bottom-1 div.column 
{
  float: left;
  width: 920px;
  padding: 0 20px;
}

#main-bottom .main_bottom-2 div.column 
{
  float: left;
  padding: 0 20px;
  width: 45%;
}

#main-bottom .main_bottom-3 div.column 
{
  float: left;
  padding: 0 20px 10px 20px;
  width: 29%;
} 

#main-bottom .main_bottom-4 div.column 
{
  float: left;
  padding: 0 12px 0 15px;
  width: 22%;
}

#main-bottom .main_bottom-4
{
  padding: 0 10px;
}

/** footer **/
.footer-1 div.column 
{
  float: left;
  padding: 20px;
  width: 920px;
}

.footer-2 div.column 
{
  float: left;
  padding: 20px;
  width: 440px;
}

.footer-3 #footer-three 
{
  float: left;
  padding: 10px 20px;
  width: 420px;
}

.footer-3 #footer-one, .footer-3 #footer-two 
{
  float: left;
  padding: 10px 0 20px 20px;
  width: 220px;
}

.footer-4 div.column 
{
  float: left;
  padding: 10px 10px 0 10px;
  width: 220px;
}

/** closure **/
#closure-inner 
{
  padding: 10px 20px;
}

#designed-by
{
  float: right;
  text-transform: uppercase;
}

/*==============  STYLE  ====================*/
/** body **/
body {
  color: #2E2F2D;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  line-height: 1.5;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 {
  color: #2E2F2D;
}

h1 { font-size: 200%;}
h2 { font-size: 150%;}
h3 { font-size: 140%;}
h4 { font-size: 130%;}
h5 { font-size: 120%;}
h6 { font-size: 110%;}

a {
  text-decoration: none;
}

a:hover, a:active, a:focus {
  text-decoration: underline;
}

img.left {
  float: left;
  margin: 0 20px 10px 0;
}

img.right {
  float: right;
  margin: 0 0 20px 10px;
}

img.framed {
  padding: 5px;
  background: #eeeeee;
  border: 1px solid #dddddd;
}

.block img.left {
  float: left;
  margin: 0 15px 5px 0;
}

.block img.right {
  float: right;
  margin: 0 0 5px 15px;
}

/** navigation **/
#navbar {
  margin-bottom: 55px;
  height: 45px;
}

#navbar-inner {
  margin: 0 10px;
}

#secondary {
  float: right; 
  text-align:right;
  min-width: 100px;
  font-size: 80%;
  font-weight: bold;
  margin-right: 40px;
}

#secondary-inner {
  height: 28px;
  margin: 0 30px;
}

#secondary ul {
  padding-top: 5px;
}

#secondary ul.links li.first
{
  padding-left: 10px;
}

#secondary a {
  color: #fff;
}

/** showcase **/
#showcase {
  background: transparent url("../images/content_bg.png") repeat-y;
}

#showcase h1, #showcase h2 {
  padding-bottom: 10px;
}

#sliderwrapper, #slider, .scroll {
  width: 920px;
}

.scroll {
  height: 220px;
}

.scrollContainer div.panel {
  padding: 0 10px;
  height: 200px;
  width: 900px;
}

ul.slidenav {
  height: 105px;
  border-bottom: 1px solid #EAECED;
  background: #fff url("../images/line.png") repeat-x left 8px;
}

ul.slidenav li {
  display: block;
  float: left;
  width: 225px;
  margin: 0 !important;
  padding: 0 !important;
  border: none !important;
  background: transparent url("../images/line_dot_v.png") no-repeat right 20px !important;
}

ul.slidenav li.last {
  background-image: none !important;
}

ul.slidenav li a {
  display: block;
  width: 220px;
  height: 75px;
  margin: 0;
  padding: 20px 0 0 0;
  float: left;
  text-decoration: none;
  cursor: hand;
  cursor: pointer;
}

ul.slidenav .title {
  font-size: 130%;
  padding: 0 20px;
  text-transform: uppercase;
}

ul.slidenav .subtitle {
  display:block;
  font-size: 90%;
  width: 185px;
  margin: auto;
}

.scrollButtons {
  display: none;
}

/** headline **/
#headlines-inner {
  padding: 10px 0;
}

.headlines-2 #headline .block {
  padding-right: 10px;
  margin: 0;
}

.headlines-2 #subheadline .block {
  padding-left: 10px;
  margin: 0;
}

#headlines .views-row {
  padding: 10px 0;
  min-height: 80px;
  background: url("../images/line_dot_h.png") repeat-x left bottom;
}

#headlines .views-field-title {
  font-size: 120%;
  font-weight: bold;
  line-height: 1;
}

#headline .views-row-first .views-field-title a {
  color: #2E2F2D;
  font-size: 150%;
}

#headlines .views-field-created {
  color: #B1B1B1;
  font-style: normal;
}

#headlines .views-row-last {
  background-image: none; 
}

#subheadline .views-field-teaser img, #headline .views-row-2 img {
  width: 69px;
  height: 52px;
}

/** main top **/
#main-top {
  padding: 10px 0;  
}

/** main **/
#main {
  border-left: 1px solid #BEBEBE;
  border-right: 1px solid #BEBEBE;
  background: #fff url("../images/main_top_bg.png") repeat-x left top;
}

#main-inner {
  padding: 20px 0;
  border-left: 1px solid #fff;
  border-right: 1px solid #fff;
  background: url("../images/main_bottom_bg.png") repeat-x left bottom;
}

#main-top-edge {
  height: 6px;
  background: url("../images/main_top_edge.png") no-repeat left top;
}

#main-bottom-edge {
  height: 8px;
  background: url("../images/main_bottom_edge.png") no-repeat left top;
}

#main-bottom {
  clear: both;
}

#content-inner h1, #content-inner h2, #content-inner h3 {
  margin-top: 15px;
}

/** sidebar **/
#sidebar-left .content, #sidebar-right .content {
  padding: 20px;
}

#sidebar-left .block {
  margin-bottom: 0;
}

#sidebar-left h2 {
  height: 20px;
  padding: 9px 20px 1px 20px;
  margin: 0 6px;
}

#sidebar-right .block-inner {
  border-left: 1px solid #e6e6e6;
  border-right: 1px solid #e6e6e6;
}

#sidebar-right h2 {
  height: 15px;
  padding: 4px 10px 6px 55px;
  border-bottom: 1px solid #e6e6e6;
}

/** footer **/
#footer {
  padding: 10px 0;
  background: url("../images/footer_header_bg.png") repeat-x left bottom;
}

#footer h2 {
  font-size: 110%;
  padding: 10px 0;
  background: url("../images/footer_header_bg.png") repeat-x left bottom;
}

#footer .block ul li:hover
{
  border-bottom: 1px solid #808080;
}

/** closure **/
#closure p {
  padding: 0;
  margin: 0;
}

/** node **/
.node {
  padding-bottom: 15px;
  background: url("../images/line_dot_h.png") repeat-x left bottom;
}

.submitted {
  color: #B1B1B1;
  font-size: 90%;
}

.meta {
  font-size: 90%;
} 

/** block **/
.block {
  margin-bottom: 20px;
}

.block h2 {
  font-size: 120%;
}

/** comments **/
#comments {
  color: #555555;
  padding-top: 20px;
}

#comments h2 {
  padding: 10px 0;
}

#comments h2.title {
  padding-left: 100px;
}

.comment .picture {
  float: left;
}

.comment .picture img {
  width: 50px;	
  height: 50px;
  padding: 3px;
  margin-left: 15px;
  background: #eeeeee;
  border: 1px solid #dddddd;
}

.comment .content {
  padding: 15px 20px 0 20px;
}

.comment .content-inner {
  padding-left: 100px;
}

.comment .submitted {
  color: #A0A0A0;
  margin: 0 5px 0 100px;
  line-height: 1.5;
  border-bottom: 1px solid #EAECED;
}

.comment .author {
  font-size: 200%;
  font-weight: normal;
  padding-right: 15px;
}

.comment div.links {
  float: right;
  text-align: right;
  padding: 5px 0 0 0 !important;
  margin: 0 !important;
}

.comment div.links a {
  font-size: 90%;
  font-weight: bold;
  text-transform: uppercase;
}

.indented {
  margin-left: 20px;
}

.box {
  padding: 20px 0 0 100px;
}

.box .content {
  margin: 10px 0;
  padding: 20px 30px 40px 30px;
  border: 1px solid #DDDDDD;
  background-color: #F4F4F4;
}

.box .form-text { 
  width: 100%;
  height: 30px;
  border: 1px solid #DDDDDD;
}

.box .resizable-textarea {
  width: 100%;
}

#comments .tips {
  padding-top: 20px;
}

#comments .form-textarea {
  overflow: hidden;
  border: 1px solid #DDDDDD;
}

/** list **/
ul.links li {
  margin: 0;
  padding: 0 10px;
  background: url("../images/divider.png") no-repeat right 4px;
}

ul.links li.first {
  padding-left: 0;
}

ul.links li.last {
  background-image: none;
}

.terms ul.links li.first {
  padding-left: 10px;
  background: url("../images/divider.png") no-repeat left 4px;
}

.block ul {
  margin: 0;
  padding: 0;
}

.block ul li {
  list-style: none;
  list-style-image: none;
  margin: 0;
  padding: 5px 0 5px 15px;
  border-bottom: 1px solid #DDDDDD;
  background: transparent url("../images/list_arrow.png") no-repeat left 12px;
}

.block ul ul li.last {
  padding-bottom: 0;
  border-bottom: none;
}

.block ul li a {
  color: #000;
}

.block ul li a:hover {
  text-decoration: none;
}

.picture ul li {
  width: 100%;
  min-height: 65px;
  margin: 0;
  padding: 5px 0  !important;
  background: none !important;
}

.picture ul img {
  float: left;
  margin-right: 10px;
}

.dot ul li {
  background: url("../images/list_dot.png") no-repeat left 12px;  
}

.arrow ul li {
  background: url("../images/list_arrow.png") no-repeat left 8px;  
}

.arrow-point ul li {
  background: url("../images/list_arrow_point.png") no-repeat left 12px;  
}

.square ul li {
  background: url("../images/list_square.png") no-repeat left 12px;  
}

.no-border ul li, .no-border ul li:hover {
  border-bottom: none !important;
}

/** box **/
.box-top {
  height: 5px;
  margin: 0 6px 0 42px;
  border-top: 1px solid #e6e6e6;
}

.box-top-right {
  background: url("../images/box_top_right.png") no-repeat right top;  
}

.box-bottom {
  height: 6px;
  margin: 0 6px;
  border-bottom: 1px solid #e6e6e6;
}

.box-bottom-left {
  background: url("../images/box_bottom_left.png") no-repeat left top;  
}

.box-bottom-right {
  background: url("../images/box_bottom_right.png") no-repeat right top;  
}

/** breadcrumb **/
#breadcrumb-inner {
  color: #B1B1B1;
  height: 30px;
  margin: 0 6px;
}

.breadcrumb {
  padding: 7px 20px 0 0;
  font-size: 90%;
}

#breadcrumb a {
  padding: 0 10px;
}

/** search **/
.search-box #search-block-form, .search-box-spaced #search-block-form {
  position: relative;
  float: right;
  width: 225px;
  height: 30px;
  background: url("../images/search_bg.png") no-repeat left 0; 
}

.search-box .clear-block, .search-box-spaced .clear-block {
  height: 30px;
}

.search-box .form-item, .search-box-spaced .form-item {
  padding: 2px 0 0 0 !important;
  margin: 0 !important;
}

.search-box .form-text, .search-box-spaced .form-text {
  height: 20px;
  border: 0;
  background-color: transparent;
}

.search-box span.button, .search-box-spaced span.button {
  background-image: none; 
}

.search-box input.form-submit, .search-box-spaced input.form-submit {
  position: absolute;
  top: 5px;
  right: 10px;
  width: 17px;
  height: 14px;
  border: 0;
  background: url("../images/search.png") no-repeat left top !important;
}

.search-box-spaced #search-block-form {
  margin-top: 40px;
}

.block-search .form-text
{
  width: 99%;
}

/** login **/
#user-login-form {
  text-align: left;
  font-size: 95%;
}

#user-login-form div {
  clear: both;
}

#user-login-form .form-text {
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
  border-width: 2px 1px 1px 1px;
  border-style: solid;
  border-color: #707070 #BDBDBD #DEDEDE #707070;
  background-color: #F7F7F7;
}

#user-login-form label, #user-login-form label {
  text-align: left;
  font-weight: normal !important;
}

.form-required {
  color: #fff;
}

/** **/
form div {
  clear: both;
}

/** read more **/
.readmore {
  display: block;
  float: left;
  height: 29px; 
  margin-right: 6px;
  padding-right: 23px; 
  color: #fff;
  font-size:12px;
  font-weight:bold;
}

.readmore span {
  display: block;
  line-height: 15px;
  padding: 6px 0 8px 23px;
} 

.read-more a {
  color: #fff;
  padding: 2px 20px 2px 10px;
  font-size: 90%;
  background: url("../images/read_more.png") no-repeat 67px 7px; 
}

.read-more a:hover {
  text-decoration: none;
  background: url("../images/read_more_hover.png") no-repeat 68px 6px; 
}

/** button **/
span.button {
  display: block;
  float: left;
  height: 29px; 
  margin-right: 6px;
  padding-right: 23px; 
}

span.button input.form-submit {
  display: block;
  border: none;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  font-size:12px;
  font-weight:bold;
  line-height: 15px;
  cursor: hand;
  cursor: pointer;
  margin: 0;
  padding: 6px 0 8px 23px;
} 

/** blog **/
.blog {
  position: relative;
}

#blog-date {
  position: absolute;
  top: 10px;
  left: 0;
  width: 80px;
  height: 70px;
  line-height: 1;
  text-align: center;
  color: #fff;
}

#blog-date .date {
  display: block;
  font-size: 200%;
  padding-top: 10px;
}

#blog-date .month {
  display: block;
  font-size: 120%;
}

#blog-date .submitted {
  display: block;
  color: #000;
  font-size: 90%;
  padding-top: 20px;
}

#blog-content, .node-type-blog #content-header h1 {
  margin-left: 100px;
}

/** others **/
span.open 
{
  background: url("../images/quote_open.png") no-repeat left top;
  padding: 0 0 0 15px;
}

span.close 
{
  background: url("../images/quote_close.png") no-repeat bottom right;
  padding: 0 15px 0 0;
}

/*==============  MENU  =====================*/
#primary
{
  padding-top: 0px;
}

#primary a 
{
  float: left;
  cursor: pointer;
  padding: 0 1px 0 5px;
}

#primary a span 
{
  float: left;
  display: block;
  padding: 5px 25px 7px 20px;
}

#primary ul,
#primary ul li,
#primary ul ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

#primary ul {
  position: relative;
  z-index: 597;
  float: left;
}

#primary ul li {
  float: left;
  vertical-align: middle;
  zoom: 1;
}

#primary ul li.hover,
#primary ul li:hover {
  position: relative;
  z-index: 599;
  cursor: default;
}

#primary ul li {
  list-style-type: none !important;
  list-style-image: none !important;
}

#primary ul ul {
  visibility: hidden;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 598;
  width: 100%;
}

#primary ul ul li {
  float: none;
}

#primary ul li:hover > ul {
  z-index: 599;
  visibility: visible;
  background-color: #eaeaea;
}

#primary li.active-trail ul {
  z-index: 598;
  visibility: visible;
}

#primary ul li.rtl ul {
  top: 100%;
  right: 0;
  left: auto;
}

#primary ul li.rtl ul ul {
  top: 1px;
  right: 99%;
  left: auto;
}

#primary ul {
  width: 100%;
  font-size: 90%;
  font-weight: bold;
}

#primary ul li {
  padding: 10px 5px;
  background-color: transparent;
  text-transform : uppercase;
  color: #000;
}

#primary ul a:link,
#primary ul a:visited	{ color: #fff; text-decoration: none; }
#primary ul a:hover,
#primary ul a.active,
#primary ul li.active-trail a { color: #fff;}

#primary li.expanded ul a, 
#primary li.leaf ul a { 
  color: #000;
}

#primary ul ul li {
  float: left;
  padding-top: 10px !important;
}

#primary ul ul a {
  background: url("../images/pix.png") no-repeat left top !important;
}

#primary ul ul span {
  padding: 5px 15px 7px 10px;
  background-image: none !important;
}

#primary ul li.hover, #primary ul li:hover {
  position: static;
}

#primary ul ul ul {
  display: none !important;
}