/* $Id$ */

/*
+----------------------------------------------------------------+
|   Flexsys for Dupal 6.x - Version 1.0                          |
|   Copyright (C) 2009 Antsin.com All Rights Reserved.           |
|   @license - Copyrighted Commercial Software                   |
|----------------------------------------------------------------|
|   Theme Name: Flexsys                                          |
|   Description: Flexsys by Antsin                               |
|   Author: Antsin.com                                           |
|   Date: 7th November 2009                                      |
|   Website: http://www.antsin.com/                              |
|----------------------------------------------------------------+
|   This file may not be redistributed in whole or               |
|   significant part.                                            |
+----------------------------------------------------------------+
*/ 

/** button **/
span.button {
  margin-right: 6px;
  padding-right: 17px; 
}

span.button input.form-submit {
  padding: 6px 0 8px 17px;
}

#headlines .views-row {
  padding: 10px 0 0 0;
}

#headline .views-row-first {
  line-height: 1.6; 
}