/* $Id$ */

/*
+----------------------------------------------------------------+
|   Contact for Dupal 6.x - Version 1.0                          |
|   Copyright (C) 2010 Antsin.com All Rights Reserved.           |
|   @license - Copyrighted Commercial Software                   |
|----------------------------------------------------------------|
|   Theme Name: Contact                                          |
|   Description: Contact by Antsin                               |
|   Author: Antsin.com                                           |
|   Date: 10th February 2010                                     |
|   Website: http://www.antsin.com/                              |
|----------------------------------------------------------------+
|   This file may not be redistributed in whole or               |
|   significant part.                                            |
+----------------------------------------------------------------+
*/  

/*==============  RESET  ===================*/
html, body, div, blockquote, p, ul, ol, li, h1, h2, h3, h4, h5, h6, th, td {
  margin: 0;
  padding: 0;
}

blockquote, ul, ol, dl {
  margin: 1em;
}

ol,ul,dl {
  margin-left: 2em;
}

th,td {
  padding: .5em;
}

p {
  margin: 1em 0;
}

/*==============  STYLE  ====================*/
/** body **/
body {
  color: #2E2F2D;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  line-height: 1.5;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 {
  color: #2E2F2D;
}

h1 { font-size: 180%;}
h2 { font-size: 120%;}
h3 { font-size: 140%;}
h4 { font-size: 130%;}
h5 { font-size: 120%;}
h6 { font-size: 110%;}

a {
  text-decoration: none;
}

a:hover, a:active, a:focus {
  text-decoration: underline;
}

img.left {
  float: right ;
  margin: 0 20px 10px 0;
}

img.right {
  float: right;
  margin: 0 0 20px 10px;
}

img.framed {
  padding: 5px;
  background: #eeeeee;
  border: 1px solid #dddddd;
}

img.thin-framed {
  padding: 3px;
  border: 1px solid #EBEBEB;
}

.block img.left {
  float: right ;
  margin: 0 10px 5px 0;
}

.block img.left {
  float: right ;
  margin: 0 10px 5px 0;
}

/** header **/
#header {
   height: 164px;  
  background: #DBDBDB url("../images/bg_header.png") repeat-x left top; 
 /* height: 217px;
  background: #DBDBDB url("../images/headerview.jpg")   ;
 background-size:1280px 217px;  */
}

#logo-title {
  float: right ;
/*  width: 440px; */
  display: inline;
  height: 100px;  
}

#logo-title22 {
  float: left ; 
 padding:  25px 20px 0 0;
 /* padding: 99px  0   0 190px;  */
  display: inline;
  height: 100px;  
}
#walid1 {
 
   padding:   0px 25px 0 0;
  margin-bottom: 15px;
width: 700px;
background: #DBDBDB url("http://sqya.net/sites/all/themes/sqya/images/titlebkg.jpg") repeat ;  
}

#walid2 {
 width: 328px;
   font-weight: bold ;
font-style: italic;
 font-size:17px;
   margin-top: 73px;  
 padding:   0px 25px 0 0;
background: #DBDBDB url("http://sqya.net/sites/all/themes/sqya/images/titlebkg.jpg") repeat ;  
}

#walid3 {
font-weight: bold ;
font-style: italic;
 font-size:17px;
width: 300px;
 display: inline;  
   margin-top: 35px; 
 padding:   0px 25px 0 25px;
background: #DBDBDB url("http://sqya.net/sites/all/themes/sqya/images/titlebkg.jpg") repeat ;  
}


#walid4 {
width: 300px;
 display: inline;
   margin-top:  10px; 
 
 
}

#walid5 {
width: 350px;
 display: inline;  
   margin-top:  10px; 
 
}



#logo-title33 {
  float: right  ;
  width: 533px ;
   padding:   0 25px 0 25px;
 /* padding: 99px  0   0 190px;  */
  display: inline;
  height: 120px;  
}

#logo {
  float: right ;
}

#logo-image {
  padding:  50px 20px 0 0;
 /* padding: 111px 320px 0 0;  */
}

#site-name {
  float: left ;
  margin: 0;
  padding: 60px 44px 0 0;
}

#site-slogan {
  font-size: 90%;
  font-weight: bold;
  padding: 45px 20px 0 0;
}

#header-blocks {
  float: right; 
  text-align:right;
  width: 460px;
}

#header-blocks .block {
  margin-bottom: 5px;
}

/** showcase **/
#showcase-inner {
  color: #fff;
  padding: 10px 0;
  background: url("../images/bg_showcase.png") no-repeat left top;
}

#sliderwrapper, #slider {
  width: 960px;
}

#showcase h1, #showcase h2 {
  padding-bottom: 10px;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: normal;
}

#slider .item-list {
  float: right ;
  width: 260px;
  height: 238px;
  background: url("../images/showcase_border_right.png") no-repeat right top;
}

#slider ul.slidenav {
  padding: 3px 4px 3px 0;
}

#slider .scroll {
  clear: none;
  float: left;
  width: 700px;
}

.scroll div.panel {
  padding: 0 10px 0 60px;
  height: 200px;
  width: 630px;
}

#showcase ul.slidenav li {
  color: #fff;
  display: block;
  float: left;
  width: 256px;
  line-height: 1.4;
  margin: 0 !important;
  padding: 0 !important;
  border-bottom: 1px dotted #fff;
}

#showcase ul.slidenav li.first {
  background: url("../images/showcase_list_one.png") no-repeat left 30px;
}

#showcase ul.slidenav li.second {
  background: url("../images/showcase_list_two.png") no-repeat left 30px;
}

#showcase ul.slidenav li.third {
  border: none;
  background: url("../images/showcase_list_three.png") no-repeat left 30px;
}

ul.slidenav li a {
  display: block;
  color: #fff;
  width: 236px;
  height: 66px;
  margin: 0;
  padding: 10px 0 0 20px;
  float: left;
  text-decoration: none;
  cursor: hand;
  cursor: pointer;
}

ul.slidenav a:hover, ul.slidenav a.slidetab-active {
  background: transparent url("../images/showcase_list_active.png") no-repeat right bottom !important;
}

ul.slidenav .title {
  font-size: 100%;
  padding: 0 20px;
  text-transform: uppercase;
}

ul.slidenav .subtitle {
  display:block;
  font-size: 90%;
  width: 200px;
  margin: auto;
}

.scrollButtons.right {
  right: 658px;
  z-index: 10;
}

.scrollButtons.left {
  top: 190px;
  left: 270px;
  z-index: 10;
}

/** main top **/
#main {
  background: #fff url("../images/bg_main.png") repeat-x left top;
}

#main-top { 
  padding-bottom: 20px;
  margin-bottom: 20px;
  background: url("../images/bg_main_top.png") no-repeat left bottom;
}

#main-top a { 
  border-bottom: 1px dotted #C0C0C0;
}

#main-top a:hover { 
  color: #000;
  text-decoration: none;
  border-bottom: none;
}

/** content **/
#content-main {
  margin-bottom: 20px;
}

/** nodes **/
.node-teaser {
  position: relative;
  padding: 20px 0 30px 0;
  background: url("../images/bg_node_teaser.png") no-repeat right bottom;
}

.node-teaser p {
  margin: 5px 0;
}

.node-first {
  padding-top: 0;
}

/** sidebar **/
#feauterdiv {
  color:  #2E2F2D;
  width: 150px;
  height: 25px;
  font-size:14px;
  text-decoration: bold ;
  margin:53px  0px 0px 0px ;
  border-bottom: 5px solid #0A5188;
}

#sidebar-left h2 {
  color: #fff;
  padding: 4px 20px 9px 20px;
 
}

#sidebar-right h2 {
   color: #fff;
  padding: 4px 20px 9px 20px;

}

/** footer **/
#footer .content {
  padding: 0 10px;
}

#footer a:hover {
  color: #fff;
  text-decoration: none;
}

/** closure **/
#closure-inner {
  color: #C0C0C0; 
  height: 30px;
  font-size: 90%;
  padding-top: 10px;
}

#closure a{
  color: #C0C0C0; 
}

#closure p {
  padding: 0;
  margin: 0;
}

#designed-by {
  float: left ;
  text-transform: uppercase;
 display: none; 
}

/** blog **/
#blog-date {
  float: right;
  width: 90px;
  padding-left: 5px;
}

#blog-date .submitted {
  font-size: 10px;
  display: block;
}

.node-teaser.node-type-blog .meta {
  position: absolute;
  color: #A5A8AA;
  left: 100px;
  bottom: 1px;
}

.node-type-blog .comment_add, .node-type-blog .comment_comments {
  padding: 0 5px 0 20px;
  background: url("../images/icons/comment.png") no-repeat left 1px;
}

ul.links li.blog_usernames_blog { 
  display: none; 
}

/** breadcrumb **/
#breadcrumb {
  height: 20px;
  font-size: 90%;
  padding-top: 10px;
  margin-bottom: 20px;
}

.breadcrumb a {
  padding: 0 15px;
}

/** comments **/
#comments h2 {
  padding: 20px 0 5px 0;
  margin-bottom: 10px;
  background: url("../images/bg_node_teaser.png") no-repeat right bottom;
}

.comment {
  padding: 10px 10px 10px 0;
  margin-left: 20px;
  border-bottom: 1px dotted #C0C0C0;
}

.comment p {
  margin: 0.5em 0;
}

.comment .links {
  float: right;
  width: 300px;
  text-align: right;
}

.comment div.links a {
  font-size: 90%;
  font-weight: bold;
  text-transform: uppercase;
}

.comment .author {
  font-size: 120%;
  font-weight: bold;
}

.comment .picture {
  float: left;
  padding: 10px 20px 0 0;
}

.comment .picture img {
  width: 50px;	
  height: 50px;
  padding: 3px;
  background: #eeeeee;
  border: 1px solid #dddddd;
}

.box {
  padding-top: 20px;
}

.box .content {
  margin: 10px 0;
  padding: 20px;
  border: 1px solid #DDDDDD;
  background-color: #F5F5F5;
}

.box .form-text { 
  width: 100%;
  height: 20px;
  border: 1px solid #DDDDDD;
}

.box .resizable-textarea {
  width: 100%;
}

#comments .form-textarea {
  overflow: hidden;
  border: 1px solid #DDDDDD;
}

/** blocks **/
.block h2 {
  font-size: 100%;
}

#sidebar-left .block, #content-bottom .block, #footer .block {
  margin-bottom: 10px;
}

#content-top .block, #content-bottom .block {
  margin-bottom: 20px;
}

/** list **/
.block ul {
  margin: 0;
  padding: 0;
}

.block ul li {
  list-style: none;
  list-style-image: none;
  margin: 0;
  padding: 5px 0 5px 15px;
  border-bottom: 1px dotted #C0C0C0;
  background: transparent url("../images/list_arrow_point.png") no-repeat left 12px;
}

.block ul ul li.last {
  padding-bottom: 0;
  border-bottom: none;
}

.block ul li a:hover {
  text-decoration: none;
}

.dot ul li {
  background: url("../images/list_dot.png") no-repeat left 12px;  
}

.dot-light ul li {
  background: url("../images/list_dot_light.png") no-repeat left 12px;  
}

.arrow ul li {
  background: url("../images/list_arrow.png") no-repeat left 8px;  
}

.arrow-light ul li {
  background: url("../images/list_arrow_light.png") no-repeat left 8px;  
}

.arrow-point-light ul li {
  background: url("../images/list_arrow_point_light.png") no-repeat left 12px;  
}

.square ul li {
  background: url("../images/list_square.png") no-repeat left 12px;  
}

.square-light ul li {
  background: url("../images/list_square_light.png") no-repeat left 12px;  
}

.no-border ul li {
  border-bottom: none !important;
}

.no-background ul li {
  padding-left: 0px;
  background-image: none !important;  
}

ul.links li.first {
  padding-left: 0 !important;
}

.terms {
  color: #A5A8AA;
  padding-left: 10px;
}

/** search **/
.block-search .form-text {
  width: 99%;
}

/** login **/
#user-login-form {
  text-align: right;
  font-size: 95%;
}

#user-login-form .form-text {
  width: 80%;
  font-family: Arial, Helvetica, sans-serif;
  border-width: 1px;
  border-style: solid;
  border-color: #707070 #BDBDBD #DEDEDE #707070;
  background-color: #F7F7F7;
}

#user-login-form label, #user-login-form label {
  text-align: right ;
  font-weight: normal !important;
}

#user-login-form li { 
  font-style: italic; 
}

/** miscellaneous **/
.form-submit
{
  color: #505050;
  font-size: 90%;
  font-weight: bold;
  border: 1px outset #BDBCBD;
  padding: 5px 8px;
  background: #fff url("../images/bg_button.png") repeat-x right bottom;
}

.form-submit:hover
{
  background: #fff url("../images/bg_button_hover.png") repeat-x right top;
}

.form-required {
  color: #fff;
}

.meta {
  font-size: 90%;
  color: #A5A8AA;
}

.meta a {
  color: #A5A8AA;
}

.meta .submitted, #blog-date .submitted {
  padding: 0 5px 0 20px;
  background: url("../images/icons/user.png") no-repeat left top;
}

.meta .date, #blog-date .date {
  padding: 0 5px 0 20px;
  background: url("../images/icons/clock.png") no-repeat left top;
}

span.readmore  {
  padding-right: 20px;
  background: url("../images/readmore.png") no-repeat right 4px;
}

span.readmore a {
  color: #fff;
}

.read-more {
  position: absolute;
  left: 0;
  bottom: 1px;
  float: left;  
  padding: 0 0 0 5px;
}

.read-more a {
  float: left;
  color: #fff;
  font-size: 90%;
  padding: 2px 15px 2px 10px;
}

.read-more a:hover {
  color: #C0C0C0;
  text-decoration: none;
}

/*==============  MENU  =====================*/
/** secondary **/
#secondary {
  float: right;
  width: 500px;
  height: 30px;
  font-size: 80%;
  text-align: right;
}

#secondary ul {
  padding: 8px;
  padding-right: 0;
}

#secondary ul li {
  padding: 0 11px 0 10px;
  background: url("../images/divider.png") no-repeat right 3px;
}

#navbar-inner {
  height: 50px;
}

#primary
{
  padding-top: 0px;
}

#primary a 
{
  float: left;
  cursor: pointer;
  padding: 0 0 0 20px;
}

#primary a span 
{
  float: right ;
  display: block;
  padding: 10px 30px 13px 10px;
}

#primary ul,
#primary ul li,
#primary ul ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

#primary ul {
  position: relative;
  z-index: 597;
  float: right ;
}

#primary ul li {
  float: right ;
  vertical-align: middle;
  list-style-type: none !important;
  list-style-image: none !important;
  zoom: 1;
}

#primary ul li.hover,
#primary ul li:hover {
  position: relative;
  z-index: 599;
  cursor: default;
}

#primary ul ul {
  visibility: hidden;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 598;
  width: 100%;
}

#primary ul ul li {
  float: none;
}

#primary ul li:hover > ul {
  z-index: 599;
  visibility: visible;
}

#primary ul li.rtl ul {
  top: 100%;
  right: 0;
  left: auto;
}

#primary ul {
  width: 100%;
  font-size: 90%;
  font-weight: bold;
}

#primary ul li {
  padding: 11px 5px 0 5px;
  background-color: transparent;
  text-transform : uppercase;
  color: #000;
}

#primary ul a:link,
#primary ul a:visited	{ color: #2c2c2c; text-decoration: none; }
#primary ul a:hover,
#primary ul a.active,
#primary ul li.active-trail a { color: #fff;}

#primary li.expanded ul a, 
#primary li.leaf ul a { 
  color: #000;
}

#primary ul ul {
  width: 235px;
}

#primary ul ul a {
  float: none;
  padding: 0 !important;
  background-image: none !important;
}

#primary ul ul span, #primary li.active-trail ul span  {
  float: none;
  padding: 10px 15px 10px 15px;
  border-bottom: 1px dotted #C0C0C0 !important;
  background: url("../images/list_square.png") no-repeat left 15px;  
}

#primary ul ul li.last span {
  border-bottom: none !important;
}

#primary ul ul a:hover span, #primary ul ul a.active span, #primary ul ul li.active-trail span {
  background: url("../images/list_square_hard.png") no-repeat left 15px;  
}

#primary ul ul ul {
 display: none !important;
}