﻿/* reset css begin */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
	content: '';
}
:focus {
	outline: 0;
}
ins {
	text-decoration: none;
}
del {
	text-decoration: line-through;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*reset css end*/
#container {
	width: 960px;
	position: relative;
	padding: 0;
	min-height: 100%;
	height: auto !important;
	height: 100%; /*margin-bottom: -81px; the bottom margin is the negative value of the footer's height */;
	padding-bottom: 12px;
}
html, body {
	height: 100%;
}
body {
	background: transparent url('../images/bkg.jpg') repeat-x top;
	font: 12px / 18px tahoma;
}
.center {
	margin: 0px auto;
}
.block {
	display: inline;
	float: left;
	padding: 0px;
	margin: 6px;
}
.clear {
	clear: both;
	height: 1px;
}
.header {
	background: url("../images/header.png") no-repeat scroll -41px -12px transparent ;
	height: 302px;
	position: relative;
}
.nav {
	height: 73px;
}
.nav ul li {
	float: right;
	margin: 0 6px;
}
.nav ul li a {
	color: black;
}
.top-title {
	background: url("../images/titlebkg.jpg") repeat-x scroll center -1px transparent;
	min-height: 80px;
}
.top-title img {
	float: right;
	padding: 3px;
	border: 1px solid #d0d0d0;
}
.top-title h1 {
	height: 21px;
	margin-bottom: 6px;
	font-family: verdana;
}
h2 {
	text-align: right;
}
.top-title p {
	direction: rtl;
	float: right;
	margin: 0 0 0 12px;
	text-align: right;
	width: 515px;
}
ol li {
	direction: rtl;
	text-align: right;
	list-style-type: decimal;
}
ol {
	padding : 12px 20px 0 0;
	float: right;
}
h1 {
	font-size: 16px;
	direction: rtl;
	text-align: right;
	padding: 3px 12px 0px;
}
.block-3-padding-border h1 {
	padding: 3px 0px 0px;
}
#footer {
	background: #cccccc url('../images/footerbkg.jpg') repeat-x top;
	height: 80px;
	padding: 12px 0 0 0;
}
#footer #block-block-27{
width:100%;
}
#footer a {
	display: inline;
	padding: 0px 1em 0;
	text-decoration: none;
	color: black;
	font-weight: bold;
	width: 60px;
}
/**************/
/*** ESSENTIAL STYLES ***/
.sf-menu, .sf-menu * {
	margin: 0;
	padding: 0;
	list-style: none;
}
.sf-menu {
	line-height: 1.0;
}
.sf-menu ul {
	position: absolute;
	top: -999em;
	width: 10em; /* left offset of submenus need to match (see below) */
}
.sf-menu ul li {
	width: 100%;
}
.sf-menu li:hover {
	visibility: inherit; /* fixes IE7 'sticky bug' */
}
.sf-menu li {
	float: left;
	position: relative;
}
.sf-menu a {
	display: block;
	padding: 12px 1em 0;
	position: relative;
	right: 5px;
	text-decoration: none;
	top: 0;
	width: auto;
	text-align: center;
}
.sf-menu li:hover ul, .sf-menu li.sfHover ul {
	left: 0;
	top: 3.2em; /* match top ul list item height */;
	z-index: 99;
}
ul.sf-menu li:hover li ul, ul.sf-menu li.sfHover li ul {
	top: -999em;
}
ul.sf-menu li li:hover ul, ul.sf-menu li li.sfHover ul {
	left: 10em; /* match ul width */;
	top: 0;
}
ul.sf-menu li li:hover li ul, ul.sf-menu li li.sfHover li ul {
	top: -999em;
}
ul.sf-menu li li li:hover ul, ul.sf-menu li li li.sfHover ul {
	left: 10em; /* match ul width */;
	top: 0;
}
.sf-menu li li a {
	right: 0px;
	height: 18px;
	color: black;
}
.sf-menu li li a:hover {
	right: 0px;
	height: 18px;
	color: black;
	background: #9AAEDB none;
}
/*** DEMO SKIN ***/
.sf-menu {
	float: right;
	margin-bottom: 1em;
	bottom: 3px;
	float: right;
	margin-bottom: 0em;
	position: relative;
}
.sf-menu a, .sf-menu a:visited {
	/* visited pseudo selector so IE6 applies text colour*/
 height: 20px;
}
.sf-menu li {
	height: 39px;
}
.sf-menu li li {
	background: #dbe6ec;
}
.sf-menu li li li {
	background: #9AAEDB;
}
/*
.sf-menu li:hover, .sf-menu li.sfHover,
.sf-menu a:focus,*/
.sf-menu a:hover, .sf-menu a:active {
	color: white;
	background: transparent url('../images/navselected.jpg') repeat-x top;
	text-decoration: none;
}
/*
.current{	 background: transparent url('../images/navselected.png') no-repeat top; color:white}
*/
div#slideShowItems {
	height: 280px;
	overflow: hidden;
	position: relative;margin-top:6px;
}
div#slideShowItems div {
	width: 626px;
}
div#slideShowItems img {
	margin-right: 13px;
	float: left;
}
ul#slideShowCount {
	bottom: 30px;
	left: 360px;
	margin: 0;
	padding: 0;
	position: absolute;
	width: auto;
}
ul#slideShowCount li.slide {
	line-height: 14px;
	float: right;
	cursor: pointer;
	background: url('../images/slide-basic.png') no-repeat;
	height: 18px;
	width: 18px;
}
ul#slideShowCount li.slide span {
	display: inline-block;
	color: white;
	font-weight: bold;
	font-size: 12px;
}
ul#slideShowCount li.slide:hover {
	background: url('../images/slide_hover.png') no-repeat;
}
ul#slideShowCount li.slide.selectedTab {
	background: url('../images/slide_hover.png') no-repeat;
}
div#slideShow {
	background: none repeat scroll 0 0 transparent;
	float: left;
	width: 600px;
}
.form-text {
	width: 205px;
}
.form-item, .form-submit {
	float: right;
	text-align: right;
}
#container {
	width: 960px;
	position: relative;
	padding: 0;
}
.center {
	margin: 0px auto;
}
.block {
	display: inline;
	float: left;
	padding: 0px;
	margin: 6px;
	direction: rtl;
	text-align: right;
	width: 616px;
}
.clear {
	clear: both;
	height: 1px;
}
.block-3 {
	width: 348px;
}
.block-3-border {
	width: 290px;
	border: 1px solid #d0d0d0;
}
.block-3-padding-border {
	width: 200px;
	padding: 0px 12px 12px;
	border: 1px solid #d0d0d0;
}
.block-3-padding {
	width: 276px;
	padding: 0px 12px 12px;
}
.block-3-restof {
	width: 709px;
	position: relative;
}
.block-3-padding-restof {
	width: 588px;
	padding: 0px 12px 12px;
}
.block-3-padding-border-restof {
	width: 586px;
	padding: 0px 12px 12px;
	border: 1px solid #d0d0d0;
}
.block-2 {
	width: 458px;
}
.block-2-border {
	width: 454px;
	border: 1px solid #d0d0d0;
}
.block-2-padding {
	width: 432px;
	padding: 0px 12px 12px;
}
.block-2-padding-border {
	width: 430px;
	padding: 0px 12px 12px;
	border: 1px solid #d0d0d0;
}
.block-1 {
	width: 940px;
	direction: rtl !important;
}
.block-1-border {
	width: 938px;
	border: 1px solid #d0d0d0;
}
.logo {
	background: url("../images/logo.png") no-repeat scroll 0 0 transparent;
	display: block;
	height: 250px;
	position: absolute;
	right: 0;
	top: 0;
	width: 229px;
	z-index: 2;
}
.block-3-restof .block-3 {
	margin: 6px 12px 0 0 !important;
}
.block-block {
	margin: 6px 0px;
	direction: ltr;
}
a, a:visited {
	text-decoration: none;
	color: black;
}
a:hover {
	text-decoration: underline;
	color: black;
}
.item-list ul, .item-list {
	direction: rtl;
	float: right;
	margin: 0 6px;
	text-align: right;
	padding: 0 !important;
}
.item-list ul li {
	list-style: none;
	list-style-type: none;
}
.image {
	display: inline;
	width: auto !important;
}
.news {
background:url("../images/news.jpg") no-repeat scroll right -1px #F1F1F1;
bottom:-66px;
height:25px;
padding-right:92px;
position:absolute;
right:6px;
width:856px;
}
.news marquee {
	padding: 3px 0 0 0;
}
ul.menu {
	border: medium none;
	direction: rtl;
	list-style: none outside none;
	text-align: right;
	width: 91%;
	padding-right: 16px !important;
}
ul.menu li {
	direction: rtl;
	margin: 0 0 0 0.5em;
}
.block-user {
	width: 200px;
	margin-top: 0 !important;
}
.block ul {
	margin: 0 !important;
	padding: 0 0 0 12px;
}
.block-user h2 {
	padding: 3px 0 0 !important;
}
.block-user .content {
	float: right;
	margin-right: 6px;
	margin-top: 0px !important;
}
.block-user .form-item {
	margin-top: 0 !important;
}
.block-user .form-text {
	width: 197px;
}
.block-user .item-list ul li {
	margin: 0 !important;
}
/*
#block-menu-menu-test{
    display:none;
}*/
.block-menu {
	width: 192px;
	margin-top: 0px !important;
}
.clear-block h2 {
	padding-right: 12px;
}
.clear-block h2 a {
	color: black !important;
}
.tableHeader-processed td {
	padding: 6px;
}
.tabs {
	margin-bottom: 6px;
}
.block-3-restof .form-item, .block-3-restof .form-submit {
	float: none;
	clear: both;
}
th.active img {
	display: inline;
	margin: 0 0 0 6px;
}
/*.container-inline*/
.admin-list, fieldset, #edit-rebuild, #edit-submit, .date-container, #system-performance-settings .form-item, #user-admin-filter fieldset, .sticky-table, #node-type-form fieldset, #taxonomy-form-vocabulary fieldset, html.js fieldset.collapsible, .help, .sticky-enabled{
	float: right;
	margin-top: 6px;
}
.sticky-table {
	width: 100%;
}
.admin fieldset {
	float: none !important;
	clear: right;
}
.admin p {
	width: 100%;
}
.tableHeader-processed thead th {
	border-bottom: 3px solid #CCCCCC;
	padding: 7px;
	text-align: right;
}
.clear-block {
	background: #f1f1f1;
	padding: 0px 6px !important;
}
.block-3-restof input, .block-3-restof label {
	margin: 0 0 0 6px !important;
}
.block-3-restof a, .block-user a {
	color: #387298;
}
.body-field-wrapper .teaser-button-wrapper {
	padding: 0px;
}
.form-submit {
	margin: 6px 0 0 0;
}
.help p {
	/*
width:284px !important;float:none!important;*/	width: auto !important;
}
html.js fieldset.collapsed legend a {
	background-position: right 50%;
}
html.js fieldset.collapsible legend a {
	padding-right: 15px;
}
.node {
	background-color: transparent !important;
}
#user-admin-filter ul {
	width: auto;
}
.block-3-restof dd, .block-3-restof dt {
	float: right!important;
	direction: rtl;
	text-align: right;
}
.admin-list dd, .admin-list dt {
	float: none!important;
	direction: rtl;
	text-align: right;
}
.top-title h2 {
	padding: 3px 12px 0 0;
	margin-bottom: 12px;
}
div.admin .left {
	direction: rtl;
	float: right;
	margin-left: 1em;
	text-align: right;
	width: 45%;
}
.tabledrag-processed .block {
	width: 350px;
}
.views-table, .compact-link {
	float: right;
	width: 100%;
}
br {
	clear: both;
	display: none;
}
table td {
	padding: 3px;
}
.view-header table tr, .node .content table tr {
	background-color: #EEEEEE;
	border: 1px solid #CCCCCC;
	padding: 0.1em 0.6em;
}
.view-header table, .node .content table {
	width: 100%;
	margin-bottom: 12px;
	border: 1px solid #CCCCCC;
}
.view-header table td, .node .content table td {
	border-left: 2px solid #CCCCCC;
	border-right: 1px solid #CCCCCC;
}
.node-type-list, .views-exposed-form .views-exposed-widget {
	float: right;
}
.node-type-list dt, .node-type-list dd {
	float: none !important;
	clear: both;
}
.node-type-list dt {
	margin-right: 12px !important;
}
.node-type-list dd:before {
	CONTENT: "- ";
}
.print-link {
	clear: both;
	display: block;
	padding-bottom: 1.5em;
	text-align: right;
}
#edit-field-news-users-uid-wrapper {
	clear: none;
}
#fullwidth {
	left: 9px;
	padding: 4px;
	position: absolute;
	top: 0px;
	width: 90px;
	height: 24px;
}
.collapse {
	background: url("../images/collapse.jpg") no-repeat scroll 0 0 transparent;
}
.cascade {
	background: url("../images/cascade.jpg") no-repeat scroll 0 0 transparent;
}
.block-menu {
	position: relative;
}
/*
.top-title .node .content p{
	float:none
}*/
fieldset.collapsible,#user-profile-form fieldset  {
	float: none !important;
}
#dblog-filter-form fieldset.collapsible {
	float: right !important;
}
h3 {
	display: block;
	clear: both;
}
.help-items {
	width:23% !important;
}
 
tr.odd {
background: #d0d0d0 url("../images/tabbkg.jpg") repeat-x top right !important;
background-color:#d0d0d0 !important;
border-bottom:1px solid :#d0d0d0 !important;
	}
tr.even{

background-color:#fff !important;
border-bottom:1px solid :#d0d0d0 !important;	
	}
div.error {
background:url("../images/error.png") no-repeat scroll right center #FFCCCC !important;
border-right:6px solid #cccccc !important;
border:0;
color:#220000;
direction:rtl;
padding:12px 34px 12px 0 !important;
text-align:right;
font-weight:bold;
}
div.status {
background:url("../images/status.png") no-repeat scroll right center #DDFECD !important;
border-right:6px solid #cccccc !important;
border:0;
color:#220000;
direction:rtl;
padding:12px 34px 12px 0 !important;
text-align:right;
font-weight:bold;
}

 .clear-block .form-item{
clear:none !important;}


